:root{
  --color-scheme: #9426fc;
}

button {
  width: 354px;
  border: 2px solid var(--color-scheme);
  border-radius: 5px;
  background-color: rgba(87,87,87,0.3);
  color: white;
  font-size: x-large;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 33%;
}

body {
  background-color: #121212;
  color: white;
}

button:active{
  background-color: rgba(148,38,252,0.3);
}

button:hover{
  box-shadow: inset 0 0 10px var(--color-scheme);
}

table {
  border: 2px solid var(--color-scheme);
}

tr, td, th {
  border: 2px solid var(--color-scheme);
  padding: 15px;
  text-align: center;
}

tfoot {
  border: 2px solid var(--color-scheme);
  padding: 15px;
  text-align: center;
  background-color: var(--color-scheme);
  color: white;
  font-weight: bold;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#leaderboard-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

#pet-section {
  width:max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor:grab;
  max-width: 265px;
  max-height: 621px;
}


#henry-image {
  max-width: 100%;
  cursor:grab;
  pointer-events: none;
  user-select: none;
}

#pet-section:active {
  cursor: grabbing;
}

#pet-button {
  margin-top: 10px;
}

#leaderboard-container {
  margin-left: 20px; /* Adjust this value to create space between the sections */
}
