<html>
<head>
<title> Pet Henry </title>

<meta name="viewport" content="width=device.width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
    <div id="main-container">
        <div id="petCount">
            <h1 id="number">Henry has been pet : {{number}} times!</h1>
            <h2>Your display name is : {{display_name}}</h2>
            <h2 id="personal">You have pet him : {{pet_count}} times!</h2>
        </div>
        <div id="leaderboard-image">
            <div id="pet-section">
                <img src="{{henry_pic}}" id="henry-image">
                <audio src="../static/honk.mp3" id="honk"></audio>
            </div>
            <div id="leaderboard-container"></div>
        </div>
    </div>

<script src="/static/script.js"></script>
</body>
